@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
	font-family:'Helvetica', sans-sanserif;
	size: 16px;
	color: #505050;
	max-width:900px;
	margin: auto;
	
}

h2{
	margin-top: 20px;
	margin: 0;
	outline: 0;
	padding: 0;
	margin-bottom:10px;
	border: 1px solid #000000;
	display: relative;
	/* width:15%; */
}


ul {
	list-style-type: none;
	padding:0;
}
ul ul{
	padding-left:32px;
}
li {
	padding:10px;
}

.date{
	font-style:italic;
}